html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import "~antd/dist/antd.css";

.ant-tabs-tab {
  white-space: normal;
  word-break: break-word;
  text-align: left !important;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
}

.sidebar {
  height: 100vh;
}

.logo {
  height: 32px;
  margin-left: 1rem;
}

.ant-btn.ant-btn-primary.added {
  background: orange;
  border: orange;
}

.ant-btn.ant-btn-ghost,
.ant-btn.ant-btn-ghost.ant-btn-icon-only.ant-dropdown-trigger {
  border: none;
  padding: 0;
  height: 40px;
}

.anticon.anticon-ellipsis {
  color: #1890ff;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.preview-video {
  height: 100%;
}

/* FORM STYLING */
.ant-form-inline .ant-form-item {
  margin-right: 0;
}
form.ant-form-inline .ant-row {
  margin: 0;
}

/* CUSTOM < TABLET SCREEN SIZE */
@media (max-width: 769px) {
  .navbar {
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #f0f2f5;
  }

  .ant-tabs-left
    > .ant-tabs-content-holder
    > .ant-tabs-content
    > .ant-tabs-tabpane {
    padding: 0 4px;
  }
  .ant-tabs-tab {
    padding: 0 4px !important;
  }
}

/* CUSTOM > TABLET SCREEN SIZE */
@media (min-width: 769px) {
  #mobile-menu-button {
    display: none;
  }
  form .ant-space-item {
    margin-top: 1rem;
  }
  .ant-tabs-left > .ant-tabs-nav.ant-tabs-tab {
    padding: 0;
  }
}

/* ANTD - LG SCREEN SIZE(992px) */
@media (min-width: 992px) {
  .navbar .menu {
    display: none;
  }
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .column {
    flex: 100% !important; /* !important so that it overrides the inline style because by default it has higher priority */
  }
}

/* CUSTOM > LG SCREEN SIZE (1025px) */
@media (min-width: 1025px) {
  form.ant-form-inline .ant-row .ant-col:first-child {
    padding-left: 0 !important;
  }
}
@media (max-width: 1025px) {
  form.ant-form-inline .ant-row .ant-col:nth-child(even) {
    padding-right: 0 !important;
  }
  form.ant-form-inline .ant-row .ant-col:nth-child(odd) {
    /* padding-right: 16px !important; */
    padding-left: 0 !important;
  }
  .ant-tabs-nav-list .ant-tabs-tab {
    font-size: 80%;
  }
  .ant-tabs-nav {
    max-width: 35%;
  }
  .ant-tabs-tab {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  form.ant-form-inline .ant-row .ant-col:nth-child(4) {
    padding-right: 0 !important;
  }
}

/* ANTD - XL SCREEN SIZE(1200px) */
@media (min-width: 1200px) {
  form.ant-form-inline .ant-row .ant-col:last-child {
    padding-right: 0 !important;
  }
  form.ant-form-inline .ant-row .ant-col {
    padding: 0 12px;
  }
}

/* ANTD - XXL SCREEN SIZE(1600px) */
@media (min-width: 1600px) {
  form.ant-form-inline .ant-row .ant-col {
    padding: 0 12px !important;
  }
}
